.parent{
    border: 2px solid black;
    height: 300px;
    background-color: aquamarine;
}
.child{
    border:1px solid black;
    width: 50%;
    background-color: blue;
}
.child2{
    background-color: brown;
    width: 50vw;
}